@font-face {
  font-family: Pulsar-Original;
  src: url(../Assets/Pulsar-Original.otf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#navbar {
  width: 100%;
  position: absolute;
  background: none;
  font-size: 0.8rem;
  font-weight: 600;
  -webkit-animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#navbar-logo {
  color: #2a324b;
  font-family: Pulsar-Original;
  font-size: 3rem;
  padding: 0 0.5rem;
  border-radius: 5px;
  border-bottom: solid 2px #17a4c7;
  text-decoration: none;
}

#navbar .container {
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

#navbar-links {
  list-style: none;
}

#navbar-links .navbar-link {
  display: inline-block;
}

#navbar-links .navbar-link a {
  color: #2a324b;
  text-decoration: none;
  padding: 0.5rem;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#navbar-links .navbar-link a:hover {
  background: rgba(23, 164, 199, 0.2);
  border-radius: 5px;
}

#navbar-links #navbar-link__last {
  border: solid 2px #17a4c7;
  border-radius: 5px;
}

#navbar-links #navbar-link__last a {
  color: #17a4c7;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: block;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#navbar-links .navbar-link__no {
  color: #17a4c7;
}

body {
  background-color: white;
  font-size: 16px;
  font-family: Montserrat;
  -webkit-animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero {
  height: 100vh;
  background-color: #dee2ee;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(222, 226, 238, 0.9)), to(rgba(222, 226, 238, 0.5))), url(https://images.unsplash.com/photo-1612524103232-cbdd7a263230?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background: linear-gradient(rgba(222, 226, 238, 0.9), rgba(222, 226, 238, 0.5)), url(https://images.unsplash.com/photo-1612524103232-cbdd7a263230?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
}

#hero .container {
  margin: auto;
  width: 75%;
  height: 94%;
}

#hero-title {
  margin: auto;
  width: 90%;
  margin: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-title__h1 {
  color: #2a324b;
  font-size: 4rem;
  -webkit-animation: scale-in-tr 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-tr 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

#hero-title__h2 {
  color: #767b91;
  font-size: 3rem;
  -webkit-animation: scale-in-tr 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-tr 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

#hero-title__pa {
  color: #17a4c7;
  font-size: 1rem;
  font-weight: 600;
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

#hero-title__pb {
  color: #767b91;
  font-size: 1rem;
  margin-top: -0.5rem;
  width: 35rem;
}

#hero-title__a {
  -webkit-animation: scale-in-tr 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-tr 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: #17a4c7;
  font-weight: 600;
  margin-top: 1rem;
  border: solid 2px #17a4c7;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

@-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

#hero-title__a:hover {
  background-color: rgba(23, 164, 199, 0.2);
}

#hero-social {
  width: 100%;
  -webkit-animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  margin: auto;
  width: 90%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero-social a {
  color: #2a324b;
  font-size: 1.5rem;
  padding-right: 0.3rem;
}

#hero-social a:hover {
  color: #17a4c7;
}

#hero-social a i:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about {
  background: white;
}

#about .container {
  margin: auto;
  width: 75%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#about-title {
  margin: auto;
  width: 90%;
}

#about-title__h1 {
  color: #2a324b;
  font-size: 1.3rem;
  border-bottom: solid 1px rgba(118, 123, 145, 0.3);
  width: 100%;
}

#about-title__h1 span {
  color: #17a4c7;
}

#about-me {
  margin: auto;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

#about-me h2 {
  font-size: 2rem;
  color: #767b91;
  margin-bottom: 0.5rem;
}

#about-me p {
  color: #767b91;
}

#about-me__info {
  margin: 3rem 2rem;
  width: 100%;
  height: 100%;
}

#about-me__skills {
  margin: 3rem 2rem;
  width: 100%;
  height: 100%;
}

#about-me__skills .container {
  margin: 0;
  padding: 0;
  overflow: none;
}

#about-me__skills span {
  border: solid 1px #767b91;
  padding: 0.5rem 0.5rem;
  font-size: 0.6rem;
  font-weight: 400;
  color: #767b91;
  margin: 0rem 0.5rem 0.5rem 0rem;
  display: inline-block;
  cursor: default;
}

#about-me__skills span:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#projects {
  background: #dee2ee;
}

#projects .container {
  margin: auto;
  width: 75%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#projects-title {
  margin: auto;
  width: 90%;
}

#projects-title__h1 {
  color: #2a324b;
  font-size: 1.3rem;
  border-bottom: solid 1px rgba(118, 123, 145, 0.3);
  width: 100%;
}

#projects-title__h1 span {
  color: #17a4c7;
}

#projects-title__h1 span {
  color: #17a4c7;
}

#projects .projects-works {
  margin: auto;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

#projects .projects-works .projects-works__item {
  margin: 3rem 2rem;
}

#projects .projects-works .projects-works__item span {
  border: solid 1px #767b91;
  padding: 0.5rem 0.5rem;
  font-size: 0.6rem;
  font-weight: 400;
  color: #767b91;
  margin: 0rem 0.5rem 0.5rem 0rem;
  display: inline-block;
  cursor: default;
}

#projects .projects-works .projects-works__item span:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#projects .projects-works .projects-works__item h2 {
  color: #767b91;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

#projects .projects-works .projects-works__item p {
  color: #767b91;
  margin-bottom: 1.5rem;
}

#projects .projects-works .projects-works__item p:nth-of-type(1) {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

#projects .projects-works .projects-works__item h3 {
  color: #2a324b;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}

#projects .projects-works .projects-works__item .container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
}

#projects .projects-works .projects-works__item .container .container {
  width: 100%;
  height: 1rem;
  overflow: hidden;
}

#projects .projects-works .projects-works__item img {
  width: 100%;
}

#projects .projects-works .projects-works__item a {
  color: #17a4c7;
  font-weight: 600;
  margin-top: 1rem;
  border: solid 2px #17a4c7;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  margin: 1rem;
}

#projects .projects-works .projects-works__item a:hover {
  background-color: rgba(23, 164, 199, 0.2);
}

#contact {
  height: 100vh;
  background: white;
}

#contact .container {
  margin: auto;
  width: 75%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#contact-title {
  margin: auto;
  width: 90%;
}

#contact-title__h1 {
  color: #2a324b;
  font-size: 1.3rem;
  border-bottom: solid 1px rgba(118, 123, 145, 0.3);
  width: 100%;
}

#contact-title__h1 span {
  color: #17a4c7;
}

#contact-connect {
  margin: auto;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

#contact-connect h2 {
  font-size: 2rem;
  color: #767b91;
  margin-bottom: 0.5rem;
}

#contact-connect p {
  color: #767b91;
}

#contact-connect__form {
  margin: 3rem 2rem;
  width: 100%;
  height: 100%;
}

#contact-connect__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #767b91;
}

#contact-connect__form form input {
  height: 1.5rem;
  border: solid 1px #767b91;
}

#contact-connect__form form #submit {
  font-family: Montserrat;
  height: 2rem;
  width: 5rem;
  background: none;
  color: #17a4c7;
  font-weight: 600;
  border: solid 2px #17a4c7;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  cursor: pointer;
}

#contact-connect__form form #submit:hover {
  background-color: rgba(23, 164, 199, 0.2);
}

#contact-connect__form form #message {
  min-height: 10rem;
  z-index: 3;
  position: relative;
  overflow: hidden;
}

#contact-connect__social {
  margin: 3rem 2rem;
  width: 100%;
  height: 100%;
}

#contact-connect__social .container {
  padding: 0;
  margin: 0;
  font-size: 3rem;
}

#contact-connect__social .container a {
  color: #2a324b;
}

#contact-connect__social .container a:hover {
  color: #17a4c7;
}

#contact-connect__social .container i {
  padding: 1rem;
}

#footer {
  background-color: #dee2ee;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer-logo {
  color: #2a324b;
  font-family: Pulsar-Original;
  font-size: 3rem;
  padding: 0 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  border-bottom: solid 2px #17a4c7;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  width: 4rem;
}

.xx {
  font-size: 1rem;
  color: #767b91;
  padding: 0.5rem 0.5rem;
  font-weight: 600;
  opacity: 75%;
}
