@import "config";
@import "navigation";
//MAKE LOGO PULSAR

body{
    background-color: $white;
    font-size:16px;
    font-family: $font-a;
}

#hero{
    height:100vh;
    background: linear-gradient(rgba(222, 226, 238, 0.950), rgba(222, 226, 238, 0.950)), url(https://images.unsplash.com/photo-1469365556835-3da3db4c253b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-position:bottom;
    .container{
        @include wA;
        height:100%;
        margin:auto;
    }

    &-title{
        margin:auto;
        width:75%;
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;

        &__h1{
            color:$secondary;
            font-size:4rem;
        }
    
        &__h2{
            color:$third;
            font-size:3rem;
        }
    
        &__pa{
            color:$fourth;
            font-size: 1rem;
            font-weight:600;
        }
    
        &__pb{
            color:$third;
            font-size: 1rem;
            margin-top:0.5rem;
            width:35rem;
        }
    
        &__a{
            color:$fourth;
            font-weight:600;
            margin-top:1rem;
            border:solid 2px $fourth;
            align-self:flex-start;
            padding:0.5rem;
            border-radius:5px;
            text-decoration: none;
            transition: background-color 200ms linear;
            &:hover{
                background-color: $link-hover;
            }
        }
    }

    &-social{
        position:absolute;
        bottom:1rem;
        & a{
            color:$secondary;
            font-size:1.5rem;
            padding:0.3rem;

            &:hover{
                color:$fourth;
            }

            & i:hover{
                transform: translateY(-5px);
                transition: 0.3s;
            }
        }
    }
}

#about{
    background:$white;
    .container{
        @include wA;
        padding-top:5rem;
        padding-bottom:5rem;
    }

    &-title{
        @include wB;
        &__h1{
            @include section-h1;
        }
    }

    &-me{
        @include wB;
        margin:auto;
        display:flex;
        flex-direction:row;
        align-items: flex-start;
        justify-content:center;
        height:100%;

        h2{
            @include section-h2;
        }

        p{
            @include section-p;
        }

        span{
            border:solid 1px $third;
            padding:0.5rem 0.5rem;
            font-size:0.6rem;
            font-weight:400;
            color:$third;
            margin:0rem 0.5rem 0.5rem 0rem;
            display:inline-block;
            cursor: default;

            &:hover{
                transform: scale(0.95);
            }
        }

        &__info{
            padding:3rem 2rem;
            width:100%;
            height:100%;
        }

        &__skills{
            padding:3rem 2rem;
            width:100%;
            height:100%;

            & .container{
                margin:0;
                padding:0;
                overflow:none;
            }
        }
    }
}

#projects{
    height:100vh;
    background: $main;
    .container{
        @include wA;
        padding-top:5rem;
        padding-bottom:5rem;
    }

    &-title{
        @include wB;
        &__h1{
            @include section-h1;
         
            & span{
                color:$fourth;
            }
        }
    }
}