@import "config";
@import "navigation";
@import "animations";

body {
  background-color: $white;
  font-size: 16px;
  font-family: $font-a;
  @include ani-d;
}

#hero {
  height: 100vh;
  background-color: $main;
  background: linear-gradient(
      rgba(222, 226, 238, 0.9),
      rgba(222, 226, 238, 0.5)
    ),
    url(../Assets/bg2.jfif);
  background-position: top;
  .container {
    @include wA;
    height: 94%;
  }

  &-title {
    @include wB;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__h1 {
      color: $secondary;
      font-size: 4rem;
    }

    &__h2 {
      color: $third;
      font-size: 3rem;
    }

    &__pa {
      color: $fourth;
      font-size: 1rem;
      font-weight: 600;
    }

    &__pb {
      color: $third;
      font-size: 1rem;
      margin-top: -0.5rem;
      width: 35rem;
    }

    &__a {
      @include ani-a;

      color: $fourth;
      font-weight: 600;
      margin-top: 1rem;
      border: solid 2px $fourth;
      align-self: flex-start;
      padding: 0.5rem;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 200ms linear;

      &:hover {
        background-color: $link-hover;
      }
    }
  }

  &-social {
    width: 100%;

    @include ani-d;
    @include wB;
    animation-delay: 2s;
    & a {
      color: $secondary;
      font-size: 1.5rem;
      padding-right: 0.3rem;

      &:hover {
        color: $fourth;
      }

      & i:hover {
        transform: translateY(-5px);
        transition: 0.3s;
      }
    }
  }
}

#about {
  background: $main;
  .container {
    @include wA;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &-title {
    @include wB;
    &__h1 {
      @include section-h1;
    }
  }

  &-me {
    @include wB;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    h2 {
      @include section-h2;
    }

    p {
      @include section-p;
    }

    &__info {
      @include mA;
      width: 100%;
      height: 100%;
    }

    &__skills {
      @include mA;
      width: 100%;
      height: 100%;

      & .container {
        margin: 0;
        padding: 0;
        overflow: none;
      }

      span {
        @include skills;
      }
    }
  }
}

#projects {
  background: $main;
  .container {
    @include wA;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &-title {
    @include wB;
    &__h1 {
      @include section-h1;

      & span {
        color: $fourth;
      }
    }
  }

  .projects-works {
    @include wB;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .projects-works__item {
      @include mA;
      width: 100%;
      height: 100%;

      span {
        @include skills;
      }

      h2 {
        color: $third;
        font-size: 2rem;
        margin-bottom: 0.5rem;
        text-align: center;
      }

      p {
        @include section-p;
      }

      p:nth-of-type(1) {
        font-weight: 600;
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
      }

      h3 {
        color: $secondary;
        padding-top: 0.5rem;
        padding-bottom: 0.2rem;
      }

      .container {
        width: 100%;
        height: 100%;
        padding: 0rem 0rem 2rem 0rem;
        text-align: center;

        .container {
          width: 100%;
          height: 1rem;
          overflow: hidden;
        }
      }

      img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      a:nth-of-type(2),
      a:nth-of-type(3) {
        display: inline-block;
        color: $fourth;
        font-weight: 600;
        border: solid 2px $fourth;
        align-self: flex-start;
        padding: 0.5rem;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 200ms linear;
        &:hover {
          background-color: $link-hover;
        }
        margin: 1rem 1rem 0rem 1rem;
      }
    }
  }
}

#contact {
  background: $main;

  .container {
    @include wA;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &-title {
    @include wB;
    &__h1 {
      @include section-h1;
    }
  }

  &-connect {
    @include wB;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    h2 {
      @include section-h2;
    }

    p {
      @include section-p;
    }

    &__form {
      @include mA;
      width: 100%;
      height: 100%;

      & form {
        display: flex;
        flex-direction: column;
        color: $third;

        & input {
          height: 1.5rem;
          border: solid 1px $third;
          padding: 5px;
        }

        #submit {
          font-family: $font-a;
          height: 2rem;
          width: 5rem;
          background: none;
          color: $fourth;
          font-weight: 600;
          border: solid 2px $fourth;
          border-radius: 5px;
          text-decoration: none;
          transition: background-color 200ms linear;
          cursor: pointer;

          &:hover {
            background-color: $link-hover;
          }
        }

        #message {
          min-height: 10rem;
          z-index: 3;
          position: relative;
          overflow: hidden;
          padding: 5px;
        }
      }
    }

    &__social {
      @include mA;
      width: 100%;
      height: 100%;

      .container {
        padding: 0;
        margin: 0;
        align-items: center;
        font-size: 2rem;
        & a {
          color: $secondary;
        }

        & a:hover {
          color: $fourth;
        }

        & i {
          padding: 0rem 1rem 0rem 0rem;
        }
      }
    }
  }
}

#footer {
  background-color: $main;
  font-weight: 600;
  @include center;
  &-logo {
    color: $secondary;
    font-family: $font-logo;
    font-size: 3rem;
    padding: 0 0.5rem;
    margin: 1rem;
    border-radius: 5px;
    border-bottom: solid 2px $fourth;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    width: 4rem;
  }

  p {
    color: $third;
    margin: 1rem;
    font-size: 1rem;
    opacity: 50%;
  }
}

.xx {
  font-size: 1rem;
  color: $third;
  padding: 0.5rem 0.5rem;
  font-weight: 600;
  opacity: 75%;
}

@media only screen and (max-width: 1200px) {
  #navbar-logo {
  }

  #about-me {
    flex-direction: column;
  }

  #about-me__info {
    width: auto;
  }

  #about-me__skills {
    width: auto;
  }

  .projects-works {
    flex-direction: column !important;
  }

  .projects-works__item {
    width: auto !important;
  }

  .projects-works__item img {
    height: 240px !important;
  }

  #contact-connect {
    flex-direction: column;

    &__form {
      width: 90%;
    }
  }
}
